<table class="table">
    <thead>
        <tr>
          <th>ID</th>
          <th>First-Name</th>
          <th>Last-Name</th>
          <th>Actions</th>
        </tr>
      </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="edit(user)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="onDelete(user.id)">Delete</button>
            </td>
        </tr>
    </tbody>
    <button type="button" class="btn btn-primary" (click)="addnew()">Add New</button>
</table>

<div *ngIf="showedit">
    <div>
        Id <input disabled type="text" [(ngModel)]='emptoadd.id'>
    </div>
    
    <div>
        FirstName <input type="text" [(ngModel)]='emptoadd.firstname'>
    </div>
    
    <div>
        LastName <input type="text" [(ngModel)]='emptoadd.lastname'>
    </div>    


    <div>
        <button (click)="update()">Update</button>
    </div>
    
    <div>
        <button (click)="showedit=false">Cancel </button>
    </div>
</div>


<div *ngIf="showedit1">
    <div>
        Id <input type="text" [(ngModel)]='emptoadd.id'>
    </div>
    
    <div>
        FirstName <input type="text" [(ngModel)]='emptoadd.firstname'>
    </div>
    
    <div>
        LastName <input type="text" [(ngModel)]='emptoadd.lastname'>
    </div>    


    <div>
        <button (click)="add()">Add</button>
    </div>
    
    <div>
        <button (click)="showedit1=false">Cancel </button>
    </div>
</div>
