<div class="container-fluid">
  <div class="row">
      <h3>Documents</h3>
      <h5>search document or select category</h5>  
    
  </div>

  <div class="row">

    <div class="col-lg-3">
      <li><a (click)="all()">All</a></li>
      <li><a (click)="financial()">Financial</a></li>
      <li><a (click)="technical()">Technical</a></li>
      <li><a (click)="marketing()">Marketing</a></li>
      <li><a (click)="hr()">Human Resource</a></li>
    </div>

    <!-- <div class="col-lg-2">
      <input type="text" placeholder="Search.." [(ngModel)]='value' />
      <div class="row">
          <div *ngFor="let d of (details|myfiltervalue:value)" class="card" style="width: 375px;">
              <div class="card-body">
                  <h5 class="card-title">{{d.type}}</h5>
                  <p class="card-text">{{d.data}}.</p>          
              </div>
          </div>     
      </div>
    </div> -->


    <div class="col-lg-9 col-md-12">
      <input type="text" placeholder="Search.." [(ngModel)]='value' />
      <div class="row">
          <div *ngFor="let d of (details|myfiltervalue:value|myfiltervalue1:value1)" class="card">
              <div class="card-body">
                  <h5 class="card-title">{{d.type}}</h5>
                  <p class="card-text">{{d.data}}</p>          
              </div> 
        </div>    
      </div>
    </div>
  </div>
</div>

