li a{
    text-decoration: none;
    color:black;
}
li {
    list-style: none;
    padding-top: 20px;
}

.row{
    margin-top: 40px;
}

input{
    width: 95%;
    height: 35px;
    border-radius: 10px;
}

.card{
    margin: 20px;
    width: 250px;
    border-radius: 15px;
}

.card-title{
    float: right;
    background-color: wheat;
}

.card-text{
    padding-top: 50px;
    font-size: 15px;
}
